#salesTable {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}

#salesTable thead,
#salesTable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#salesTable thead th,
#salesTable tbody td {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-align: center;
    box-sizing: border-box;
}

/* Scrollable body */
#salesTable tbody {
    display: block;
    max-height: 550px;
    overflow-y: auto;
}

/* Column widths */
#salesTable th:nth-child(1),
#salesTable td:nth-child(1) {
    width: 50px;
}

#salesTable th:nth-child(2),
#salesTable td:nth-child(2) {
    width: calc(100% - 260px);
    /* Adjust depending on layout */
    text-align: left;
}

#salesTable th:nth-child(3),
#salesTable td:nth-child(3) {
    width: 210px;
}

.table-wrapper {
    border: 1px solid #ccc;
    overflow: hidden;
}

  
  form {
    width: 100%;
    padding-bottom: 0px;
    border-right: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    border-collapse: collapse;
  }
  
  .form-group {
    display: flex;
    align-items: center;
  }
  
  label {
    width: 200px; /* Adjust as needed */
    padding: 15px;
    font-size: 20px;
  }
  
  input{
    width: 60%;
    padding: 8px;
    border: 1px solid hsl(0, 0%, 70%);
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px hsl(0, 0%, 80%);
  }
  
  .form-group .pass{
    margin-left: 220px;
  }
  input.pass {
    width: 20px;
    margin-left: 10px;
    margin: 0px;
  }
  .passw{
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    margin-left: 8px;
  }
  
  select{
    width: 60%;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 70%);
    padding: 8px;
  }
  
  .bot {
    background-color: #f2f2f2;
    align-items: center;
    border: 1;
    border-collapse: collapse;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: flex-start;
  }
  
  .bot a {
    padding: 13px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 10rem;
  }
  
  .sub {
    background-color:  hsl(122, 42%, 50%);
    margin: 10px;
    display: flex;
    width: 10rem;
    justify-content: center;
    padding: 14px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
  }
  
  .can {
    background-color: #E53935;
    margin: 10px;
    display: flex;
  }
  
  .exists {
    color: red;
    margin-top: 10px;
    margin-left: 220px;
  }

